<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Student Directory</title>
</head>

<body>

<div class="container">

	<h3>Available Subjects</h3>
	<hr>
	
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Title</th>
				<th>Objectives</th>
				<th>Supervisor</th>
				<th>Apply to Diploma Thesis Subject</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempSubject : ${allSubjects}">
			
				<td th:text="${tempSubject.title}" />	
				<td th:text="${tempSubject.objectives}" />
				<td th:text="${tempSubject.supervisor.fullname}" />
			
				<td>
					<!-- Add "apply" button/link -->					
					<a th:href="@{/student/applyToSubject(subjectId=${tempSubject.id})}"
					   class="btn btn-success btn-sm"
					   onclick="if (!(confirm('Are you sure you want to apply for this subject?'))) return false">
						Apply
					</a>
					
				</td>
				
				
			</tr>
		</tbody>		
	</table>
	
	<hr>
		<a th:href="@{/student/dashboard}">Back to dashboard</a>	&nbsp;
		<a th:href="@{/student/showApplications}">See your applications</a>	
</div>
	
</body>
</html>



