<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Professor Directory</title>
</head>

<body>

<div class="container">

	<h3>Thesis Grades</h3>
	<hr>
	
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Overall Grade</th>
				<th>Implementation Grade</th>
				<th>Report Grade</th>
				<th>Presentation Grade</th>				
			</tr>
		</thead>
		
		<tbody>
			<tr>
				<td th:text="${thesis.overallGrade}" />	
				<td th:text="${thesis.implementationGrade}" />	
				<td th:text="${thesis.reportGrade}" />	
				<td th:text="${thesis.presentationGrade}" />				
			</tr>
		</tbody>		
	</table>
	
	<a th:href="@{/professor/listProfessorTheses}">Back to Theses</a>	
</div>
	
</body>
</html>



